<div class="income-expenses-container">
  <div class="col income">
    <h2 class="header">Income</h2>
    <app-card
      *ngFor="let income of incomes"
      [description]="income.description"
      [amt]="income.amount"
      [type]="'income'"
    ></app-card>
  </div>
  <div class="col expenses">
    <h2 class="header">Expenses</h2>
    <app-card
      *ngFor="let expense of expenses"
      [description]="expense.description"
      [amt]="expense.amount"
      [type]="'expense'"
    ></app-card>
  </div>
</div>
