@keyframes dialogOpenAnimation {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  .modal {
    pointer-events: auto;
    z-index: 1000;
    animation: dialogOpenAnimation 0.15s ease-out;
    max-width: 800px;
    width: 50%;
    padding: 2rem;
    padding-bottom: 0;
    background-color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    h2 {
      font-size: 3rem;
      margin: 0;
    }
  }
}

.modal-bg {
  pointer-events: auto;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
