.modal {
  position: absolute;
  top: 40vh;
  left: 30vw;
  max-width: 800px;
  z-index: 10;
  width: 40%;
  padding: 2rem;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 3rem;
    margin: 0;
  }
}

.modal-bg {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
