<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget Calculator</title>
  </head>
  <body>
    <header>Budget Calculator</header>
    <div class="main-container" *ngIf="budgets$ | async as budgets">
      <app-total-budget [budgets]="budgets"></app-total-budget>
      <div class="budget-container">
        <app-budget-form></app-budget-form>
        <app-income-expenses [budgets]="budgets"></app-income-expenses>
      </div>
    </div>
  </body>
</html>
