header {
  text-transform: uppercase;
  font-weight: 700;
  padding: 2rem 0;
  font-size: 2rem;
  text-align: center;
  color: black;
  background-color: rgb(207, 171, 255);
}

.budget-container {
  width: 50vw;
  margin: auto;
  max-width: 1000px;
}
