.total-budget-container {
  background-color: black;
  .total {
    display: block;
    color: rgb(42, 218, 159);
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    padding: 6rem 0;
  }
}
